/* 

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(file://D:/Projects/Rays/Tests/UI/FlexUI/dist/FlexUI/MaterialIcons-Regular.4674f8ded773cb03e824.eot); 
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(file://D:/Projects/Rays/Tests/UI/FlexUI/dist/FlexUI/MaterialIcons-Regular.cff684e59ffb052d72cb.woff2) format('woff2'),
         url(file://D:/Projects/Rays/Tests/UI/FlexUI/dist/FlexUI/MaterialIcons-Regular.83bebaf37c09c7e1c3ee.woff) format('woff'),
         url(file://D:/Projects/Rays/Tests/UI/FlexUI/dist/FlexUI/MaterialIcons-Regular.5e7382c63da0098d634a.ttf) format('truetype');
  } */